*{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y:hidden;
}
#app-container{
  display:flex;
}
#outer-border{
  /* background-color: rgb(129, 129, 255); */
  width:58vw;
  height: calc(58vw/1.75);
  margin: 5vw;
  padding: 1vw;
  border-radius: 10px;
}
#inner-border{
  border-radius: 10px;
  text-align: center;
  padding: 2vw;
  background-color: rgb(255, 255, 255);
  width: 54vw;
  height: calc(40vw/1.4);
}
.cert-big{
  margin: 3vw;
  font-size:3.5vw;
}
.cert-small{
  /* margin: 1.5vh; */
  font-size: 1.5vw;
}
#cert-badge{
  width: 5vw;
    margin-left: -50vw;
}
#cert-orgName{
  margin-top: -5vw;
}
#app-controls{
  margin-top: 3px;
  width: 30vw;
  height: 93vh;
  background-color: #e4e4ff;
}
#app-header{
  width: 100vw;
    height: 3.5vw;
    text-align: center;
    font-size: 2.5vw;
    background-color: #00005c;
    color: white;
    padding: 1vw;
    box-shadow: 0 8px 6px -6px black;
}

select{
  margin:1vw 0;
  height: 40px;
  width:100%;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border: 1px solid #b7b7b7;
}
input{
  margin:1vw 0;
  height: 30px;
  width:26vw;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border: 1px solid #b7b7b7;
}
textarea{
  margin:1vw 0;
  max-width:26vw;
  padding: 5px 10px;
  height: 120px !important;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
button {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#d02718;
  font-weight:bold;
  border-top-left-radius:18px;
  border-top-right-radius:18px;
  border-bottom-left-radius:18px;
  border-bottom-right-radius:18px;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  text-shadow: 0px 1px 0px #810e05;
  background:linear-gradient(#c62d1f, #f24437);
  transform: translateX(-50%);
    margin-left: 50%;
}

button:hover {
  background: linear-gradient(#f24437, #c62d1f);
}
#inputs{
  padding: 4%;
  display: flex;
  flex-direction: column;
  overflow-x:hidden;
}
@media print {
  @page { 
    size: landscape; 
  }
  #outer-border{
    width:88vw;
    height:  calc(60vw/1.4);
  }
  #inner-border{
    width: 58vw;
    height: calc(18vw/1.4);
    padding: 15vw;
    z-index:-2;
  }
   .cert-big{
    margin: 3.5vh;
    font-size:4.5vw;
  }
  .cert-small{
    font-size: 2vw;
  }
  #cert-badge{
    width: 8vw;
    margin-top: -100vw;
    margin-left: -70vw;
  }
  #cert-orgName{
    margin-top: -12vw;
  }
}

